@model ContactModel
@{
    ViewData["Title"] = "Confirmation Delete Contact";
}

<div class="text-center">
    <h3>Did you want to delete (@Model.Name) contact?</h3>
</div>

<div class="text-center" style="margin-top: 20px">
    <a class="btn btn-danger" role="button" asp-controller="Contact" asp-action="Index">Cancel</a>
    <a class="btn btn-success" role="button" asp-controller="Contact" asp-action="Delete" asp-route-id="@Model.Id">Confirm</a>
</div>