@{
    Layout = "_LayoutSignedOut";
    ViewData["Title"] = "Login";
}

<form style="margin-top: 15rem" class="container">
    <div class="row mb-3">
        <label for="login" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-10">
            <input type="login" class="form-control" id="email">
        </div>
    </div>
    <div class="row mb-3">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
</form>